.jumbotron {
    background-image: url(/assets/img/header.png);
    background-size: cover;
    height: 100%;
    margin-bottom: 0px !important;
}

.navbar {
    margin-bottom: 15px !important;
}

.footer {
    margin-top: 15px !important;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
}
