---
layout: default
---

<div class="card">
    <div class="card-header">
        <h5>{{ page.title }}</h5>
        <span class="font-weight-light text-muted">Posted: {{ page.date | date: "%B %-d, %Y" }} / @{{ page.author }}</span>
    </div>
    <div class="card-body">
        <p class="card-text">{{ content }}</p>
    </div>
    <div class="card-footer">
        <span class="font-weight-bold">Tags:</span>
        {% for tag in page.tags %}
            <span class="badge badge-pill badge-info">{{ tag }}</span>
        {% endfor %}        
    </div>
</div>
